.cart-menu-bg{
	position: fixed;
	top:0;
	right:0;
	height:100vh;
	width: 100vw;
	background:transparent;
	z-index: 99;
	display:none;
}
.cart-menu-wrapper{
	position: fixed;
    top:50%;
    transform:translate(110%,-50%);
	right:0;
	height:92vh;
	width:100%;
	// background:var(--main-green);
	border:2px solid $mainGreen;
	border-radius: 100%;
	transition: all .5s ease;
	z-index:100;
    overflow:hidden;
    @include media("md"){
        width:50%;
    }
    @include media("xl"){
        width:30%;
    }
}
.cart-close{
	margin: 20px 0 0 20px;
	background-color: transparent;
    border:none;
	outline: none;
}
.cart-close i{
	font-size: 40px;
	transition: transform .3s ease-in-out;
}
.cart-close i:hover{
	transform:scale(1.1);
}
.cart-menu{
	width:80%;
	margin:0 auto;
	margin-top:50px;
	border-radius:0px;
	border:none;

}
.product-remove-btn{
	background:transparent;
	border:none;
}
.product-remove-btn i{
	font-size:40px;
}
.total-wrapper{
	width:100%;
	display: flex;
	justify-content: center;
}
.total-wrapper .total-inner{
	width:100%;
	display: flex;
	flex-direction: column;
}
.total-wrapper .total-inner .total-title{
	padding-bottom:20px;
}
.total-wrapper .total-inner .total-title,.total-wrapper .total-inner .total-sum{
	width:100%;
	text-align:center;
	border-bottom:1px solid var(--green-dark);
	
}
.total-wrapper .total-inner .total-title p{
	font-size: 60px;
}
.total-wrapper .total-inner .total-sum p{
	display:inline-block;
	margin-top:10px;
	font-size: 30px;
	padding:10px 15px;

}
.checkout{
	width:100%;
	text-align: center;
	margin-top:25px;
}
.cart-menu .cart-title-wrapper{
	width:100%;
	text-align:center;
	margin-bottom:25px;
}
.cart-menu .cart-title-wrapper h1{
    font-size:50px;

}
 .cart-items{
    list-style: none;
    & .text-empty{
        padding:50px 0;
        &  p{
            margin-bottom:40px;
        }
    }
    & table{
        display: block;
        max-height:300px;
        overflow:auto;
    }
    & .cart-link{
        font-size:20px;
        text-decoration: none;
        color:var(--green-light);
        background:white;
        padding:10px 20px;
        border:2px solid var(--green-light);
        border-radius: 20px;
        transition: background .3s ease-in-out, color .3s ease-in-out;
        &:hover{
            background:var(--green-light);
            color:white;
        }
    }
}


