.white-background{
    background:white;
    border-radius:20px;
    box-shadow: $shadow;
}
.product-content-wrapper{
    width:95%;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    @include media("sm"){
        width:80%;
    }
    @include media("md"){
        width:70%;
    }
}
.product-about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include media("md"){
        flex-direction:row;
      }
}
.product-about-column{
    
    
}
.product-about-left{
    width:100%;
    display: flex;
    margin-bottom:20px;
    @include media("md"){
        width:40%;
        margin-right:20px;
      }
}
.product-about-right{
    width:100%;
    @include media("md"){
        width:60%;
      }
}
.product-image-inner{
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    & .main-image-container{
        height:calc(100% - 100px);
        display: flex;
        justify-content: center;
        margin-bottom:20px;
       & a{
           width: 100%;
           display:flex;
           justify-content: center;
           align-items: center;
           & img{
            height: 80%;
            width: auto;
           }
       }
    }
}
.slick-list, .slick-track{
    height: 100%;
}
.additional-images-wrapper{
    height: 20%;
    max-height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    & .additional-images{
        height: 100%;
        width:80%;
        & .image-additional{
            height: 100%;
            & img{
                max-height: 100%;
                margin:0 auto;
            }
        }
    }
    & .additional-slider-arrow{
        display: flex;
        justify-content: center;
        align-items:center;
        background:$maingreen;
        width:10%;
        height: 100%;
        outline:none;
        border:none;
        cursor: pointer;
        transition:all .1s ease;
        &:hover{
            background:$maingreenLighter;
        }
        &:active{
            background:#fff;
            & i{
                color:$maingreen;
            }
        }
        & i{
            color:#fff;
            font-size:2rem;
            transition:all .1s ease;
        }
    }
    .additional-left-arrow{
        box-shadow: $shadow;
    }
    .additional-right-arrow{
        box-shadow: $shadow;
    }
    .slick-disabled{
        background:$maingreenLighter;
        pointer-events: none;
    }
}
.product-about-right{
    display: flex;
    justify-content: center;
}
.column-right-inner{
    width:100%;
    padding:30px;
    display:flex;
    flex-direction:column;
    & .product-title{
        font-weight:bold;
        color:#000;
        margin:0;
    }
    & .text-stock{
        margin-top:10px;  
        color:$grey;  
        font-weight:400; 
    }
    & .input-info{
        display:flex;
        justify-content:space-between;
        align-items: center;
        & .control-label{
            color:#000;
            font-size:2rem;
            font-weight:bold;
        }
        & .price{
            color:$maingreen;
        }
    }
}
.product-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .cart-add{
        width:60%;
        background:$maingreen;
        color:#fff;
        border:2px solid $maingreen;
        &:hover{
            background:#fff;
            color:$maingreen;
        }
    }
    & .wishlist-add{
        width:35%;
        background:$mainYellow;
        color:#fff;
        border:2px solid $mainYellow;
        font-size:3rem;
        &:hover{
            background:#fff;
            color:$mainYellow;
        }
    }
}
.quantity-input-group{
    display: flex;
    justify-content: space-between;
    margin:15px 0;
    & .quantity-btn{
        width:20%;
        padding:15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:$grey;
        color:#000;
        font-size:2rem;
        font-weight:bold;
        border-radius: 15px;
        border:none;
    }
    & #input-quantity{
        width:50%;
        display:inline-block;
        padding:22px 10px;
        line-height:140%;
        background:$grey;
        border-radius:15px;
        border:none;
        font-size:2rem;
        font-weight:bold;
    }
}