@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// $lightGreen:#d1ebed;
// $trGreen:#d1ebedd2;
// $trDarkGreen:#d1ebede1;
// $maingreen:#b2dee1;
// $darkgreen:#7d9799;
// $darkestgreen:#586869;
$lightGreen:#d1ebed;
$trGreen:#d1ebedd2;
$trDarkGreen:#d1ebede1;
$maingreen:#57d301;
$darkgreen:#7d9799;
$darkestgreen:#586869;
$white:rgb(255, 255, 255);
$greenGradient:linear-gradient(90deg,#57d301, #c6f739);

.stop-scrolling { 
  height: 100%; 
  overflow: hidden; 
} 

//////////////////ScrollBar//////////////////////////
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $darkestgreen;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $darkgreen;
}
//////////////////////////////////
// .logo {
//   width: 20%;
//   & img {
//     max-height: 60px;
//   }
// }
input[type="text"] {
  // border-bottom: none!important;
  outline: none!important;
  box-shadow: none!important;
}
.cursor-dot {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: $darkgreen;
  z-index: 100;
  user-select: none;
  pointer-events: none;

}
.cursor {
  position: absolute;
  background: transparent;
  border:1px solid $darkgreen;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  z-index: 100;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;

}
.curvy-h{
  font-family: 'Marck Script', cursive;
}
.cursor::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("../../image/assets/follow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  opacity: 0;
  
}

.cursor.active {
  opacity: 1;
  transform: scale(2);
}

.cursor.active::before {
  opacity: 1;
}

.cursor-follower {
  position: absolute;
  background: $maingreen;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: translate(4px, 4px);
}

.cursor-follower.active {
  opacity: 0.3;
  transform: scale(0);
}
#bounce{
    // display: contents;
    display:flex;
    flex-direction: column;
}
.wrapper{
    width:90%;
    margin: 0 auto;
}
.wave {
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
}
.wave + .wave {
  z-index: 20;
}
#plain-1,#plain-2,#plain-3{
    position: fixed;
    top:0;
    left:0;
    background:$greenGradient;
    width: 100vw;
    height:100vh;
    z-index: 100;
    & .wrapper{
        height:100vh;
        position: relative;
        & .logo-wrap{
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            & img{

            }
        }
       
    }
    & svg{
      width:100vw;

    }
}
#plain-2{
    z-index: 9;
    background: $maingreen;
}
#plain-3{
  z-index: 8;
  background: $darkgreen;
}
.bttn {
    color: #fff;
    cursor: pointer;
    // display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    transition: all .3s ease-in-out;
 
    
    &:hover { text-decoration: none; }
    
  }
  
  .btn-2 {
      letter-spacing: 0;
  }
  
  
  
  .btn-2:after,
  .btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }
  @media screen and (min-width:576px){
    .btn-2:hover,
  .btn-2:active {
    letter-spacing: 5px;
  }
  .btn-2:hover:after,
  .btn-2:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 70%;
  }
  
  .btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }
  }
  


 
////////////////////////////////PArallax/////////////////////
.hero-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url("../../image/assets/parallax/hero.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.parallax-el {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url("../../image/assets/parallax/air-ballon-2-min.png") no-repeat 50% 50%;
  background-size: cover;
  top: -0%;
}

.text {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: -0%;
  background: url("../../image/assets/parallax/air-logo-min.png") no-repeat 50% 50%;
  background-size: cover;
  //mix-blend-mode: overlay;
}

.clouds {
  position: absolute;
  width: 5076px;  
  height: 100vh;
  // top: -5%;
  background: url("../../image/assets/parallax/clouds-min.png") repeat-x;
  // background-size: cover;
  animation:clouds 60s linear infinite;
}

.whitespace {
  width: 100%;
  height: 100vh;
}

@keyframes clouds {
  0% { transform:translateX(0px) }
  100% { transform:translateX(-1692px) }
}
///////////////////////////Opencart styles/////////////////////
#compare-total{
  padding:5px 8px;
  border-radius:10px;
  border:2px solid $maingreen;
  background:transparent;
  color:$darkgreen;
  transition:background .3s ease; 
  &:hover{   
    background:$maingreen;  
    text-decoration: none;
  }
}
.account-dropdown{
  list-style:none;
  & a{
    & i{
      font-size:50px;
      color:$maingreen;
      transition:color .3s ease-in-out;
      &:hover{
        color:$darkgreen;
      }
    }
  }
}
.wishlist-btn{
    text-decoration:none;
    
  & i{
    font-size:45px;
    color:$maingreen;
    transition:color .3s ease-in-out;
    &:hover{
      color:$darkgreen;
    }
  }
}
.lang-button{
  background:transparent;
  padding:10px;
  border:2px solid $maingreen;
  border-radius:15px;
  text-decoration:none;
  color:$darkgreen;

  & img{
    height:18px;
  }
}
.lang-menu{
  border-radius:15px;
  border:2px solid $maingreen!important;
  min-width:120px!important;
  & li{
    display:inline-block;
    padding:4px;
    & button{
      display:inline-block;
      color:$darkgreen!important;
    text-decoration:none!important;

    background:transparent;
    border:none;
    }
    
  }
}
.custom-button{
	font-size:16px;
	background:none;
	padding:10px 5px;
	border:2px solid #b2dee1;
	border-radius:15px;
	color:#586869;
	width:98%;
	transition: background .3s ease-in;
	
}
.custom-button:hover{
	color:#586869;
	background:rgb(228, 246, 247);
	}
.product-image{
  border:3px solid $maingreen;
	border-radius:20px;
}
.product-btns{
  display:flex;
  justify-content: space-around;
  & button{
    width:30%;
  }
}
.product-description{
  width:90%;
  margin:0 auto;
  background:$maingreen;
  padding:20px;
  margin:50px 0;
  border-radius:30px;
  overflow:hidden;
}
// .cart-menu{
//   border:2px solid $maingreen;
//   border-radius:20px;
//   overflow:hidden;
// }
.close{
  margin-right:20px;
}
.cart-proceed{
  & a{
    color:$darkgreen;
  }
}
.prod-title{
  & a{
    color:$darkgreen;
  }
}
.quantity-wrapper{
  display:flex;
  flex-direction:column;
  & .input-group-btn{
    width:100%;
    display:flex;
    justify-content:space-around;
    margin-top:7px;
    & button{
      width:30%;
      padding:5px 8px;
      border-radius:10px;
    }
  }
}