.cart-menu-bg {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	background: transparent;
	z-index: 99;
	display: none;
}
.cart-menu-wrapper {
	position: fixed;
	top: 50%;
	right: 0;

	height: 100vh;
	width: 100%;

	padding-top: 20px;
	padding-bottom: var(--mobile-menu__height);

	transform: translate(110%, -50%);

	// background:var(--main-green);
	border-left: 2px solid $mainGreen;
	border-radius: 100%;

	transition: all 0.5s ease;

	z-index: 100;
	overflow: auto;

	@include media("md") {
		width: 50%;
	}
	@include media("xl") {
		width: 30%;
	}
}
.cart-close {
	margin: 20px 0 0 20px;
	background-color: transparent;
	border: none;
	outline: none;
}
.cart-close i {
	font-size: 40px;
	transition: transform 0.3s ease-in-out;
}
.cart-close i:hover {
	transform: scale(1.1);
}
.cart-menu {
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	border-radius: 0px;
	border: none;
}

.cart-products {
	padding-bottom: 15px;
	margin-bottom: 20px;

	border-bottom: 1px solid var(--accent-color);
}
.product-in-cart {
	display: flex;

	padding: 10px;
	margin-bottom: 10px;

	background-color: var(--neutral-lightest);

	& .product-thumbnail {
		margin-right: 15px;
		flex-shrink: 0;

		& img {
			width: 100px;
			height: 100px;

			border-radius: 15px;
		}
	}

	& .product-info {
		display: flex;
		flex-direction: column;

		padding-right: 15px;
		& .product-title {
			color: var(--text-dark);

			font-family: "PlayFair", serif !important;
			font-size: 1.8rem;
		}

		& .product-price {
			margin-top: auto;
			margin-bottom: 10px;

			color: var(--text-dark);

			font-size: 1.5rem;
			font-weight: bold;
		}
	}

	& .remove-product {
		& .product-remove-btn {
			position: relative;

			width: 30px;
			height: 30px;

			&::before {
				content: "";

				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				background-color: var(--accent-color);

				border-radius: 9999px;
			}

			& i {
				font-size: 20px;

				color: var(--neutral-lightest);
			}
		}
	}
}

.product-remove-btn {
	background: transparent;
	border: none;
}
.product-remove-btn i {
	font-size: 40px;
}
.total {
	display: flex;
	flex-direction: column;
}
.total-wrapper {
	width: 100%;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;

	padding: 10px;
	margin-right: 10px;
	margin-bottom: 20px;

	background-color: var(--neutral-lightest);

	border-radius: 15px;
}

.total-wrapper .total-title {
	border-bottom: 1px solid var(--accent-color);
}
.total-wrapper .total-title,
.total-wrapper .total-sum {
	width: 100%;
}
.total-wrapper .total-title h2 {
	margin: 0;
	font-size: 3.6rem;
}
.total-wrapper .total-sum p {
	display: inline-block;
	margin-top: 10px;
	font-size: 2rem;
}
.checkout {
	display: flex;
	flex-direction: column;
}
.checkout .checkout-btn {
	display: block;
	width: 100%;

	text-align: center;

	font-weight: normal;
	font-size: 1.8rem;

	& i {
		font-size: 2rem;
	}
}
.checkout .checkout-btn:nth-child(1) {
	margin-bottom: 10px;
}
.cart-menu .cart-title-wrapper {
	width: 100%;
	text-align: center;
	margin-bottom: 25px;

	border-bottom: 1px solid var(--accent-color);
}
.cart-menu .cart-title-wrapper h1 {
	font-size: 50px;
}
.cart-items {
	list-style: none;
	& .text-empty {
		padding: 50px 0;
		& p {
			margin-bottom: 40px;
		}
	}
	& table {
		display: block;
		max-height: 300px;
		overflow: auto;
	}
	& .cart-link {
		font-size: 20px;
		text-decoration: none;
		color: var(--green-light);
		background: white;
		padding: 10px 20px;
		border: 2px solid var(--green-light);
		border-radius: 20px;
		transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
		&:hover {
			background: var(--green-light);
			color: white;
		}
	}
}
