@import "variables";
@import "media";

.table-responsive{
    padding: 0 5px;
}
#account-wishlist{
    table { 
        border:none!important;
        border-collapse: separate; 
        border-spacing: 0 10px; 
        margin-top: -10px;
        & thead{
            & td{
               & .thead-td-inner{
                   padding:8px 0;
               }
            }
        }
        & td {      
            border:none!important;
            padding: 10px;
            vertical-align: middle!important;
            & .table-td-inner{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding:15px 0;
            }
            &:first-child {
                border-left-style: solid;
                border-top-left-radius: 15px; 
                border-bottom-left-radius: 15px;
            }
            &:last-child {
                border-right-style: solid;
                border-bottom-right-radius: 15px; 
                border-top-right-radius: 15px; 
            }
        }
    }
}

