<div id="search" class="input-group brdr-20 brdr-w-2 cl-brdr-green">
  <input type="text" name="search" value="{{ search }}" style="border:none!important; border-radius:20px" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" class="btn-lg brdr-20 cl-brdr-green bg-green cl-white btn-click"><i class="fa fa-search"></i></button>
  </span>
</div>