@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Marck+Script&display=swap');

$maingreen:#b2dee1;
$darkgreen:#7d9799;
$darkestgreen:#586869;
$white:rgb(255, 255, 255);


.cursor {
  position: absolute;
  background: transparent;
  border:1px solid $darkgreen;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;

}
.curvy-h{
  font-family: 'Marck Script', cursive;
}
.cursor::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("../assets/follow.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  opacity: 0;
  
}

.cursor.active {
  opacity: 1;
  transform: scale(2);
}

.cursor.active::before {
  opacity: 1;
}

.cursor-follower {
  position: absolute;
  background: $maingreen;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
      0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  user-select: none;
  pointer-events: none;
  transform: translate(4px, 4px);
}

.cursor-follower.active {
  opacity: 0.3;
  transform: scale(0);
}
#bounce{
    // display: contents;
    display:flex;
    flex-direction: column;
}
.wrapper{
    width:90%;
    margin: 0 auto;
}
.wave {
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
}
.wave + .wave {
  z-index: 20;
}
#plain-1,#plain-2,#plain-3{
    position: fixed;
    top:0;
    left:0;
    background-color: $white;
    width: 100vw;
    height:100vh;
    z-index: 10;
    & .wrapper{
        height:100vh;
        & .logo-wrap{
            width:100%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            & img{

            }
        }
    }
}
#plain-2{
    z-index: 9;
    background: $maingreen;
}
#plain-3{
  z-index: 8;
  background: $darkgreen;
}
.bttn {
    color: #fff;
    cursor: pointer;
    // display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    transition: all .3s ease-in-out;
 
    
    &:hover { text-decoration: none; }
    
  }
  
  .btn-2 {
      letter-spacing: 0;
  }
  
  .btn-2:hover,
  .btn-2:active {
    letter-spacing: 5px;
  }
  
  .btn-2:after,
  .btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
  }
  
  .btn-2:hover:after,
  .btn-2:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 70%;
  }
  
  .btn-2:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
  }

 ////////////////////////Draggable pan//////////////////////////////////
 .pan-wrapper{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  outline: none;
}
.pan-container {
  position: absolute;
  width: 200%;
  height: 200vh;
  // top:-50%;
  // left:-50%;
  z-index:5;
}

.pan-row {
  display: flex;
  width:200vw;
  justify-content: space-around;
  margin: 4em 0;
}

.img-block {
  width: 400px;
  height: 500px;
  background: grey;
  margin: 1em;
  filter: grayscale(1);
  opacity: 0.4;
  transition: 1s;
}

.img-block:hover {
  filter: grayscale(0);
  opacity: 1;
}

.block-1 {
  background: url("../assets/pan/one.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.block-2 {
  background: url("../assets/pan/two.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.block-3 {
  background: url("../assets/pan/three.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.block-4 {
  background: url("../assets/pan/four.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.block-5 {
  background: url("../assets/pan/five.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.block-6 {
  background: url("../assets/pan/six.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.block-7 {
  background: url("../assets/pan/seven.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.block-8 {
  background: url("../assets/pan/eight.jpg") no-repeat 50% 50%;
  background-size: cover;
}