<svg id="svg-wave-bottom" class="footer-svg" version="1.1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 800 160.32">
  <title>wave</title>
  <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      {# <stop offset="0%" style="stop-color:#c6f739;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#57d301;stop-opacity:1" /> #}
			<stop offset="0%" style="stop-color:#E8D7D0;stop-opacity:1" />
      <stop offset="100%" style="stop-color:#BBAB9C;stop-opacity:1" />
    </linearGradient>
  </defs>
  <path fill="url(#grad1)">

    <animate id="animation-to-check" repeatcount="indefinite" fill="freeze" attributename="d" dur="20s"
      values="M0,30.67c26.69,20.46,66.07,43.23,110.33,38C157.78,63.05,166.2,30.53,215,18.33,281.53,1.7,299.21,53.83,383.67,54,467,54.17,481.13,3.48,558,14.67c49.48,7.2,57.62,30.23,107.33,36C720.61,57.07,768.55,35.31,800,16.33v144H0Z;
				
													M0,11.33c26.69,20.47,35.74,83.24,80,78,47.45-5.61,41.2-35.47,90-47.66C236.53,25,226.21,71.83,310.67,72c83.33.17,102.13-47.85,179-36.67,49.48,7.2,149.88,37.45,199.59,43.21C744.54,85,768.55,47.64,800,28.67V160.32H0Z;
				
													M0,11.33C26.69,31.8,38.74,66.9,83,61.67c47.45-5.62,42.87-39.81,91.67-52C241.2-7,215.88,86.5,300.33,86.67,383.66,86.83,408.13-6.85,485,4.33c49.48,7.2,58.29,73.91,108,79.67,55.28,6.41,175.55-7.36,207-26.33V160.32H0Z;
				
													M0,38.33c26.69,20.47,15.41,58.24,59.67,53C107.11,85.72,118.2,51.2,167,39c66.53-16.63,48.88,16.5,133.33,16.67,83.33.16,127.14-10.52,204,.66,49.49,7.2,138.29,35.57,188,41.34,55.28,6.4,76.22-60.36,107.67-79.34v142H0Z;
				
													M0,30.67c26.69,20.46,66.07,43.23,110.33,38C157.78,63.05,166.2,30.53,215,18.33,281.53,1.7,299.21,53.83,383.67,54,467,54.17,481.13,3.48,558,14.67c49.48,7.2,57.62,30.23,107.33,36C720.61,57.07,768.55,35.31,800,16.33v144H0Z" />

  </path>


</svg>
<footer>
  <div class="footer-wrapper">
    <div class="footer-inner">
      <div class="contacts-title-wrapper">
        <h1 class="contacts-title curvy-h cl-white m-20">Інформація</h1>
      </div>
      <div class="contacts-body">
        <div class="contacts-body-wrapper white-background">
          <div class="shedule-wrapper">
            <div class="shedule-inner">
              <h2 class="curvy-h cl-green iphone-title">Графік роботи</h2>
              <div class="shed" style="display:none">{{open}}</div>
              <div class="shedule-container">
              </div>
            </div>
          </div>
          <div class="map-wrapper flex-row flex-center">
            <a
              href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%A1%D0%B2%D1%8F%D1%82%D0%BE%D1%88%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F,+34,+%D0%9A%D0%B8%D0%B5%D0%B2,+02000/@50.4492032,30.3884139,15.25z/data=!4m5!3m4!1s0x40d4cc7b3b3b2a27:0x5f63e8661e17c426!8m2!3d50.445776!4d30.3889878"><img
                src="catalog/view/theme/sharlar/image/assets/map.png" alt="Адреса магазину"></a>
          </div>
          <div class="info-wrapper">
            <div class="contacts-info flex-col flex-center">
              <span><i class="fa fa-map-marker" aria-hidden="true"></i>Адреса:Україна Київ вул.Святошинська, 34</span>
              <span><i class="fa fa-globe" aria-hidden="true"></i><a href="https://merryparty.com.ua"><strong>https://merryparty.com.ua/</strong> </a></span>
              <span><i class="fa fa-phone" aria-hidden="true"></i>(Kyivstar,Viber) <strong><a
                    href="tel:+380981201373"></a> +380981201373</strong></span>
              <span><i class="fa fa-phone" aria-hidden="true"></i>(Vodafone) <strong><a href="tel:+380501921855"></a>
                  +380501921855</strong> </span>
            </div>
            <div class="social-links">
              <div class="social-link"><a href="https://www.facebook.com/Merry-Party-1110546739112348/"><i
                    class="fa fa-facebook" aria-hidden="true"></i></a></div>
              <div class="social-link"><a href="https://www.instagram.com/merrypartyukr/"><i class="fa fa-instagram"
                    aria-hidden="true"></i></a></div>
              <div class="social-link"><a href="https://www.youtube.com/channel/UCqw0wVRdpVjeLA0mK6AkDHg"><i
                    class="fa fa-youtube-play" aria-hidden="true"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 flex-row j-c a-c p-20"><div id="google_translate_element"></div></div>
  </div>
</footer>
{# <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script> #}
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
<script>
  const $$ = document.querySelector.bind(document);
  const $on = document.addEventListener.bind(document);
</script>
<script> 
  $('.shedule-container').append($('.shed').text())
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>
<script defer src="catalog/view/theme/sharlar/dist/js/preloader.min.js?v=81df30ee68e7d94f371c7641d26c2dbe"></script>

<script src="catalog/view/theme/sharlar/dist/js/parallax.min.js"></script>
<script src="catalog/view/theme/sharlar/dist/js/animation.min.js?v=81df30ee68e7d94f371c7641d26c2dbe"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="catalog/view/theme/sharlar/dist/js/globalAnimations.min.js"></script>
<script src="catalog/view/theme/sharlar/dist/js/shopLogics.min.js?v=81df30ee68e7d94f371c7641d26c2dbe"></script>
<script src="catalog/view/theme/sharlar/dist/js/homeAnimation.min.js?v=81df30ee68e7d94f371c7641d26c2dbe"></script>
<script src="catalog/view/theme/sharlar/dist/js/slider.min.js?v=81df30ee68e7d94f371c7641d26c2dbe"></script>
{# Script for starting contructor apps #}
<script>!function(e){function r(r){for(var n,l,a=r[0],c=r[1],f=r[2],p=0,s=[];p<a.length;p++)l=a[p],Object.prototype.hasOwnProperty.call(o,l)&&o[l]&&s.push(o[l][0]),o[l]=0;for(n in c)Object.prototype.hasOwnProperty.call(c,n)&&(e[n]=c[n]);for(i&&i(r);s.length;)s.shift()();return u.push.apply(u,f||[]),t()}function t(){for(var e,r=0;r<u.length;r++){for(var t=u[r],n=!0,a=1;a<t.length;a++){var c=t[a];0!==o[c]&&(n=!1)}n&&(u.splice(r--,1),e=l(l.s=t[0]))}return e}var n={},o={1:0},u=[];function l(r){if(n[r])return n[r].exports;var t=n[r]={i:r,l:!1,exports:{}};return e[r].call(t.exports,t,t.exports,l),t.l=!0,t.exports}l.m=e,l.c=n,l.d=function(e,r,t){l.o(e,r)||Object.defineProperty(e,r,{enumerable:!0,get:t})},l.r=function(e){"undefined"!==typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},l.t=function(e,r){if(1&r&&(e=l(e)),8&r)return e;if(4&r&&"object"===typeof e&&e&&e.__esModule)return e;var t=Object.create(null);if(l.r(t),Object.defineProperty(t,"default",{enumerable:!0,value:e}),2&r&&"string"!=typeof e)for(var n in e)l.d(t,n,function(r){return e[r]}.bind(null,n));return t},l.n=function(e){var r=e&&e.__esModule?function(){return e.default}:function(){return e};return l.d(r,"a",r),r},l.o=function(e,r){return Object.prototype.hasOwnProperty.call(e,r)},l.p="./";var a=this.webpackJsonpballoon_constructor=this.webpackJsonpballoon_constructor||[],c=a.push.bind(a);a.push=r,a=a.slice();for(var f=0;f<a.length;f++)r(a[f]);var i=c;t()}([]);//# sourceMappingURL=runtime-main.1ca87aa9.js.map</script>
<script src="catalog/view/theme/sharlar/constructor/js/2.056871c7.chunk.js"></script>
<script src="catalog/view/theme/sharlar/constructor/js/main.63fe8094.chunk.js"></script>
<script defer type="text/javascript"
  src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({ pageLanguage: 'ua' }, 'google_translate_element');
  }
</script>
</body>

</html>